<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213652988242-0rgr6upfbac084spnc33b3nogl4b66df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213652988242-0rgr6upfbac084spnc33b3nogl4b66df</string>
	<key>API_KEY</key>
	<string>AIzaSyBtWdOq2Qw93PLOJlyxBsoqmGQh0ukRPPk</string>
	<key>GCM_SENDER_ID</key>
	<string>213652988242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-9ae04</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-9ae04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213652988242:ios:9132142a2016e442c69a8b</string>
</dict>
</plist>